# dependencies
node_modules/

# builds
dist/
build/
coverage/
.turbo/

# env
.env
.env.*

# logs
*.log

# ide
.vscode/
.idea/

# mac
.DS_Store

# testing
coverage/

# cache
.cache/
.tmp/

# generated
generated/

# typescript
*.tsbuildinfo
